@()
<h2>Ten Green Bottles</h2>
<ul>
    <li>Ten green bottles hanging on the wall,</li>
    <li>Ten green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the wall.</li>
    <br />
    <li>Nine green bottles hanging on the wall,</li>
    <li>Nine green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the wall.</li>
    <br />
    <li>Eight green bottles hanging on the wall,</li>
    <li>Eight green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the     <br />
    <li>Seven green bottles hanging on the wall,</li>
    <li>Seven green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the     <br />
    <li>Six green bottles hanging on the wall,</li>
    <li>Six green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the     <br />
    <li>Five green bottles hanging on the wall,</li>
    <li>Five green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the     <br />
    <li>Four green bottles hanging on the wall,</li>
    <li>Four green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the     <br />
    <li>Three green bottles hanging on the wall,</li>
    <li>Three green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the     <br />
    <li>Two green bottles hanging on the wall,</li>
    <li>Two green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the     <br />
    <li>One green bottles hanging on the wall,</li>
    <li>One green bottles hanging on the wall,</li>
    <li>And if one green bottle should accidentally fall,</li>
    <li>There’ll be <span style="color: darkgreen">nine</span> green bottles hanging on the </ul>


